a,abbr,acronym,address,applet,big,blockquote,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,sub,sup,tfoot,thead,tt,ul,var{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
ol,ul{list-style:none}
sup{font-size:smaller;line-height:0;vertical-align:super}
em{font-style:italic}
sub{font-size:smaller;vertical-align:sub}
button,input,textarea{outline:0}
*{box-sizing:border-box}
html{font-size:16px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border:0;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}

body{
    font-family: -apple-system, BlinkMacSystemFont, "“Segoe UI”", “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, "“Fira Sans”", "“Droid Sans”", "“Helvetica Neue”", sans-serif;
    font-size: 16px;
}

header {
    padding: 1rem;
    box-shadow: 0 0 2px 0 #00000085;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & h1 {
        font-size: 1.5rem;
    }

    & ul {
        display: flex;
        gap: 1rem;

        & a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
        
.background {
    --hue: 0deg;
    --saturation: 100%;
    --lightness: 50%;
    --opacity: 1;
    --hex: #000000ff;
    /* background: hsla(var(--hue), var(--saturation), var(--lightness), var(--opacity)); */
    background: var(--hex);
    width: 100%;
    /* height: 3rem; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    & span {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBhbGV0dGUiPjxjaXJjbGUgY3g9IjEzLjUiIGN5PSI2LjUiIHI9Ii41IiBmaWxsPSJjdXJyZW50Q29sb3IiLz48Y2lyY2xlIGN4PSIxNy41IiBjeT0iMTAuNSIgcj0iLjUiIGZpbGw9ImN1cnJlbnRDb2xvciIvPjxjaXJjbGUgY3g9IjguNSIgY3k9IjcuNSIgcj0iLjUiIGZpbGw9ImN1cnJlbnRDb2xvciIvPjxjaXJjbGUgY3g9IjYuNSIgY3k9IjEyLjUiIHI9Ii41IiBmaWxsPSJjdXJyZW50Q29sb3IiLz48cGF0aCBkPSJNMTIgMkM2LjUgMiAyIDYuNSAyIDEyczQuNSAxMCAxMCAxMGMuOTI2IDAgMS42NDgtLjc0NiAxLjY0OC0xLjY4OCAwLS40MzctLjE4LS44MzUtLjQzNy0xLjEyNS0uMjktLjI4OS0uNDM4LS42NTItLjQzOC0xLjEyNWExLjY0IDEuNjQgMCAwIDEgMS42NjgtMS42NjhoMS45OTZjMy4wNTEgMCA1LjU1NS0yLjUwMyA1LjU1NS01LjU1NEMyMS45NjUgNi4wMTIgMTcuNDYxIDIgMTIgMnoiLz48L3N2Zz4=) #ffffffde no-repeat 0.75rem center / 1rem 1rem;
        padding: 0.75rem 0.75rem 0.75rem 2.25rem;
        border-radius: 3px;
        box-shadow: 0 0 0px 3px #0000001c;
        font-weight: 500;
        opacity: 0.75;
    }


    &:hover {
        & span {
            opacity: 1;
        }
    }
}

#parent {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.blocks {
    display: flex;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex: 1;
}

@media screen and (max-width:800px){
    .blocks {
        flex-direction: column;
    }
}